{% extends 'base.html' %}
{% block title %}核算{% endblock %}
{% load static %}
{% block content_middle %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 col-md-offset-2">
                <div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="mima">
                            <div class="panel panel-default zhuce1">
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default"><a href="{% url 'user:message' %}">基本信息</a></button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default"><a href="{% url 'user:message1' %}">知识成果</a></button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default"><a href="{% url 'user:message2' %}">研发水平</a></button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default"><a href="{% url 'user:message3' %}">财务信息</a></button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div style="text-align:center">财务信息</div>
                                    <form class="form-horizontal" action="{% url 'user:message3'%}"
                                          method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="hidden" name="result_list" value="{{result_list}}">
                                            <div class="col-md-10">
                                                <label for="member">1.近一年企业高新技术产品（服务）收入占企业同期总收入的比例是否不低于60%。</label>
                                                    <select name="proportion" class="form-control">
                                                        <option>是</option>
                                                        <option>否</option>

                                                    </select>
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="col-md-10">
                                                <label for="member">2.企业近三个会计年度研发费用投入总额占同期销售收入总额的比例。（实际经营不满三年的按实际经营时间算）</label>
                                                    <select name="development" class="form-control">
                                                        <option>不低于5%</option>
                                                        <option>不低于4%</option>
                                                        <option>不低于3%</option>
                                                        <option>低于3%</option>
                                                        <option>未统计</option>
                                                    </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-11">
                                                <label for="nember1">3.近三年销售收入（万元）</label>
                                                <br>
                                                <span class="col-sm-3">第一年</span>
                                                <input type="text" class="col-sm-5" name="sales_1">
                                                <br>
                                                <br>
                                                <span class="col-sm-3">第二年</span>
                                                <input type="text" class="col-sm-5" name="sales_2">
                                                <br>
                                                <br>
                                                <span class="col-sm-3">第三年</span>
                                                <input type="text" class="col-sm-5" name="sales_3">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <input type="hidden" name="next" value="{{next_url}}">
                                            <div class="col-md-11">
                                                <label for="nember1">4.近三年净资产（万元）</label>
                                                <br>
                                                <span class="col-sm-3">第一年</span>
                                                <input type="text" class="col-sm-5" name="assets_1">
                                                <br>
                                                <br>
                                                <span class="col-sm-3">第二年</span>
                                                <input type="text" class="col-sm-5" name="assets_2">
                                                <br>
                                                <br>
                                                <span class="col-sm-3">第三年</span>
                                                <input type="text" class="col-sm-5" name="assets_3">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <button type="submit" class="btn btn-primary  zhucebtn2">获取测算结果
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
