{% extends 'base.html' %}
{% block title %}详情{% endblock %}
{% block lunbo %}{% endblock %}
{% block left %}{% endblock %}
{% block mid %}{% endblock %}
{% block right %}{% endblock %}

{% block content %}
<h5 style="text-align: center ; color: red ;" id="msg">{{msg}}</h5>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9 col-md-offset-2">
                <div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="mima">
                            <div class="panel panel-default zhuce1">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label for="pwd1">详情</label>
                                            {% if request.session.loginuser %}
                                            <label style="float:right" for="pwd1"><a href="/article_update/{{at.id}}/">修改 </a></label>
                                            {% endif %}
                                            <hr>
                                            <h2 style="text-align: center ">{{at.name}}</h2>
                                            <hr>
                                            <h5 style="text-align: left">

                                                学校：{{at.organization}}
                                                —————————————————————————————————————————————————————————
                                                职称：{{at.positionalitles}}
                                                —————————————————————————————————————————————————————————
                                                <br>
                                                研究课题：{{at.focusareas}}
                                                —————————————————————————————————————————————————————————
                                                <br>
                                                基金：{{at.fund}}
                                                —————————————————————————————————————————————————————————
                                                课程：{{at.subjects}}
                                                <hr>
                                                {% if request.session.loginuser %}
                                                电话：{{at.tel}} |
                                                邮箱：{{at.email}}
                                                {% endif %}
                                            </h5>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h4>简介：</h4>
                                        <div class="col-md-12" style="text-indent: 2em;">
                                            <h4>{{at.abstract|safe}}</h4>
                                        </div>
                                    </div>
                                    —————————————————————————————————————————————————————————



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}