{% extends 'base.html' %}
{% block title %}展示所有资料{% endblock %}
{% block lunbo %}{% endblock %}
{% block left %}{% endblock %}
{% block mid %}{% endblock %}
{% block right %}{% endblock %}


{% block content %}
<h5 style="text-align: center ; color: red ;">{{msg}}</h5>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <td>用户头像</td>
                    <td>用户标识</td>
                    <td>用户名称</td>
                    <td>用户昵称</td>
                    <td>用户性别</td>
                    <td>用户年龄</td>
                    <td>用户邮箱</td>
                    <td>用户电话</td>
                </tr>
                {% for i in userlist %}
                <tr>
                    <td><img src="/{{i.avatar}}" alt="" class="img-circle" width="50px" height="50px"></td>
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.nickname}}</td>
                    <td>{{i.sex}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phone}}</td>
                </tr>
                {% empty%}
                <tr>
                    <td>没有用户</td>
                </tr>
                {% endfor %}

            </table>

        </div>
    </div>
</div>

{% endblock%}