<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/user/js/lib/jquery/jquery-1.12.4.js"></script>
</head>
<body>
<h1>测试ajax</h1>
<button id="user">按钮</button>

<script>
    $('#user').click(function () {
        $.ajax({
            data:{'id':111},
            type:'POST',
            url:'/test/',
            dataType:'JSON',
            async:false,
            success:function (data) {
                 for(var index in data){
                //其实index 就是个索引
                     alert(data[index]['fields']['title'])
                }
            },
            error:
            function (data) {
                console.log('错误',11111111111)
            }
        })
    })

</script>
</body>
</html>