{% extends 'base.html' %}
{%block title%}领导关怀{%endblock%}
{% load static %}

{% block content %}

<div class="section section-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">这里将展列出大赛领导风采</h2>
                <h5 class="description" style="color:black; text-indent:2em; ">
                    比赛本着公平公正原则...比赛本着公平公正原则...比赛本着公平公正原则...比赛本着公平公正原则...比赛本着公平公正原则...比赛本着公平公正原则...比赛本着公平公正原则...</h5>
                <h5 class="description" style="color:black; text-indent:2em; ">
                    比赛本着公平公正原则...比赛本着公平公正原则...比赛本着公平公正原则...比赛本着公平公正原则...比赛本着公平公正原则...比赛本着公平公正原则...比赛本着公平公正原则...</h5>
            </div>
        </div>

    </div>
</div>
{%endblock%}