{% extends 'base.html' %}
{%block title%}新闻中心{%endblock%}
{% load static %}

{% block content %}
<style type="text/css">
    .news{
    color:black;
    text-indent:2em;
    text-align:left;
    }

</style>
<div class="section section-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                {% for content in contents %}
                <div>
                    <p class="news">{{ content.news_text }}</p>
                    <p class="news" style="text-align:right">{{ content.pub_date }}</p>
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock%}