{% extends 'base.html' %}
{% block title %}搜索结果{% endblock %}
{% load static %}


{% block mid %}
<div class="container">
    <div class="row">
        {% if query %}
        <!--导出按钮-->
        <div class="top-panel">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">导出格式<span
                        class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a onclick="exportTo('csv');" href="javascript://">CSV</a></li>
                    <li><a onclick="exportTo('txt');" href="javascript://">TXT</a></li>
                    <li><a onclick="exportTo('xls');" href="javascript://">XLS</a></li>
                    <li><a onclick="exportTo('sql');" href="javascript://">SQL</a></li>
                </ul>
            </div>
        </div>
        <!--表格-->
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <caption>搜索结果如下：</caption>
                <thead>
                <tr>
                    <th>id</th>
                    <th>名字</th>
                    <th>学校</th>
                    <th>职称</th>
                    <th>简介</th>
                    <th>研究课题</th>
                    <th>基金</th>
                    <th>课程</th>
                    <th>邮箱</th>
                    <th>电话</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for result in page.object_list %}
                <tr>
                    <th scope="row">{{result.object.id}}</th>
                    <td>{{result.object.name}}</td>
                    <td>{{result.object.organization}}</td>
                    <td>{{result.object.positionalitles}}</td>
                    <td>{{result.object.abstract|safe}}</td>
                    <td>{{result.object.focusareas|safe}}</td>
                    <td>{{result.object.fund|safe}}</td>
                    <td>{{result.object.subjects}}</td>
                    <td>{{result.object.email}}</td>
                    <td>{{result.object.tel}}</td>
                    <td><a href="/article_show/{{result.object.id}}/">查看</a></td>
                </tr>
                {% empty %}
                <p>啥也没找到</p>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if page.has_previous or page.has_next %}
        <!--分页-->
        <div>
            {% if page.has_previous %}
            <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
                {% endif %}

                <span>&laquo; 上一页</span>
                {% if page.has_previous %}
            </a>
            {% endif %}
            |
            {% if page.has_next %}
            <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
                {% endif %}
                <span>下一页 &raquo;</span>
                {% if page.has_next %}
            </a>
            {% endif %}
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>


<script src="{% static '/user/js/lib/jquery/jquery.js' %}"></script>
<script src="{% static '/user/js/lib/bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
<script src="{% static '/user/js/lib/jquery/tableExporter.js' %}"></script>
<script src="{% static '/user/js/lib/jquery/main.js' %}"></script>

{% endblock %}



